---
apiVersion: v1
kind: Secret
metadata:
    name: {{meta.namespace}}-mariadb-secret
    namespace: {{meta.namespace}}
stringData:
    mysql_root_user: "root"
    mysql_user: "{{mysql_user}}"
    mysql_database: "{{mysql_database}}"
    mysql_root_password: "{{mysql_root_password}}"
    mysql_user_password: "{{mysql_user_password}}"
    data_source_name: "exporter:exporter123@({{meta.namespace}}-{{meta.name}}-service.{{meta.namespace}}:3306)/"
