# ---
# apiVersion: v1
# kind: PersistentVolume
# metadata:
#     name: mariadb-persistent-volume-{{meta.namespace}}
#     labels:
#       db: mariadb
# spec:
#     storageClassName: manual
#     capacity: 
#         storage: 1Gi
#     accessModes:
#         - ReadWriteOnce
#     hostPath:
#         path: "/mariadb/data"

# ---
# apiVersion: v1
# kind: PersistentVolumeClaim
# metadata:
#     name: mariadb-persistent-volume-claim-{{meta.namespace}}
# spec:
#     storageClassName: manual
#     accessModes: 
#         - ReadWriteOnce
#     resources:
#         requests:
#             storage: 1Gi
#     selector:
#         matchLabels:
#             db: mariadb