--- 
apiVersion: v1
kind: Service
metadata:
  name: {{meta.namespace}}-database-service
  namespace: "{{meta.namespace}}"
  labels:
    app: mariadb
    database_svc_type: external
    mariadb_cluster: "{{meta.namespace}}-galera-cluster"
spec: 
  ports: 
    - nodePort: {{mysql_conn_service_port}}
      port: 3306
      targetPort: 3306
      name: mariadb-port
  selector: 
    app: mariadb
  type: NodePort
