---
apiVersion: v1
kind: Secret
metadata:
    name: {{meta.namespace}}-mariadb-secret
    namespace: {{meta.namespace}}
data:
    mysql_root_user: "cm9vdAo="
    mysql_user: "{{mysql_user | b64encode}}"
    mysql_database: "{{mysql_database | b64encode}}"
    mysql_root_password: "{{mysql_root_password | b64encode}}"
    mysql_user_password: "{{mysql_user_password | b64encode}}"
stringData:
    data_source_name: "exporter:exporter123@({{meta.namespace}}-mariadb-service.{{meta.namespace}}:3306)/"
