--- 
apiVersion: apps/v1
kind: StatefulSet
metadata: 
  name: "{{meta.namespace}}-{{meta.name}}"
  namespace: "{{meta.namespace}}"
  labels:
    app: mariadb
    connected_to: {{meta.name}}
    mariadb_cluster: "{{meta.namespace}}-galera-cluster"
spec: 
  replicas: {{ 1 if cluster.enabled|default(False)|bool or external_storage.enabled|default(False)|bool else size }}
  selector: 
    matchLabels: 
      app: mariadb
  template: 
    metadata: 
      labels: 
        app: mariadb
        connected_to: {{meta.name}}
        mariadb_cluster: "{{meta.namespace}}-galera-cluster"
    spec: 
      containers: 
        - env: 
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: '{{meta.namespace}}-mariadb-secret'
                  key: mysql_root_password
{% if not cluster.enabled or cluster.first_node %}
            - name: MYSQL_DATABASE
              valueFrom:
                secretKeyRef:
                  name: '{{meta.namespace}}-mariadb-secret'
                  key: mysql_database
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: '{{meta.namespace}}-mariadb-secret'
                  key: mysql_user
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: '{{meta.namespace}}-mariadb-secret'
                  key: mysql_user_password
{% endif %}
          image: "{{db_image}}"
{% if cluster.enabled %}
          args:
           - "--wsrep-on=ON"
           - "--wsrep-cluster-address=gcomm://{{gcomm_url | default('')}}"
           - "--wsrep-provider=/usr/lib/galera/libgalera_smm.so"
           - "--binlog-format=row"
           - "--default-storage-engine=InnoDB"
           - "--innodb-autoinc-lock_mode=2"
           - "--bind-address=0.0.0.0"
           - "--wsrep-cluster-name='galera_cluster'"
{% endif %}
          name: database
          ports: 
            - name: mariadb-port
              containerPort: 3306
{% if external_storage.enabled and size == 1 %}
          volumeMounts:
          - mountPath: /var/lib/mysql
            name: mariadb-data
      volumes:
        - name: mariadb-data
          persistentVolumeClaim:
            claimName: {{meta.namespace}}-{{meta.name}}-mariadb-pvc
{% endif %}
{% if cluster.enabled and cluster.server_name != '' %}
      nodeSelector:
        kubernetes.io/hostname: {{cluster.server_name}}
{% endif %}