--- 
apiVersion: v1
kind: Service
metadata:
  name: mariadb-service
  namespace: "{{meta.namespace}}"
spec: 
  ports: 
    - nodePort: {{mysql_conn_service_port}}
      port: 3306
      targetPort: 3306
  selector: 
    app: mariadb
  type: NodePort
