---
apiVersion: v1
kind: Secret
metadata:
    name: mariadb.{{meta.namespace}}-secret
    namespace: {{meta.namespace}}
data:
    mysql_root_user: "cm9vdAo="
    mysql_user: "{{mysql_user | b64encode}}"
    mysql_database: "{{mysql_database | b64encode}}"
    mysql_root_password: "{{mysql_root_password | b64encode}}"
    mysql_user_password: "{{mysql_user_password | b64encode}}"
stringData:
    data_source_name: "{{mysql_user}}:{{mysql_user_password}}@(mariadb-service.mariadb-ns:3306)/"
