---
apiVersion: v1
kind: Service
metadata:
  name: {{meta.namespace}}-{{meta.name}}-service
  namespace: "{{meta.namespace}}"
  labels:
    database_svc_type: headless
    app: mariadb
    connected_to: {{meta.name}}
    mariadb_cluster: "{{meta.namespace}}-galera-cluster"
spec:
  clusterIP: None
  ports: 
    - protocol: TCP
      port: 3306
      targetPort: 3306
      name: mariadb-port
    - protocol: TCP
      port: 4444
      targetPort: 4444
      name: sst-port
    - protocol: TCP
      port: 4567
      targetPort: 4567
      name: galera-replication-port
    - protocol: TCP
      port: 4568
      targetPort: 4568
      name: ist-port
  selector: 
    connected_to: {{meta.name}}
