--- 
apiVersion: apps/v1
kind: StatefulSet
metadata: 
  name: "{{meta.name}}-mariadb"
  namespace: "{{meta.namespace}}"
spec: 
  replicas: {{size}}
  updateStrategy:
    type: RollingUpdate
  selector: 
    matchLabels: 
      app: mariadb
  template: 
    metadata: 
      labels: 
        app: mariadb
    spec: 
      containers: 
        - env: 
            - name: MYSQL_ROOT_PASSWORD
              value: "{{mysql_root_password}}"
            - name: MYSQL_DATABASE
              value: "{{mysql_database}}"
            - name: MYSQL_USER
              value: "{{mysql_user}}"
            - name: MYSQL_PASSWORD
              value: "{{mysql_user_password}}"
          image: "{{db_image}}"
          name: mariadb
          ports: 
            - containerPort: 3306
{% if external_data_storage.pvc_name is defined %}
          volumeMounts:
          - mountPath: /var/lib/mysql
            name: mariadb-data
      volumes:
        - name: mariadb-data
          persistentVolumeClaim:
            claimName: {{external_data_storage.pvc_name}}
{% endif %}