--- 
apiVersion: apps/v1
kind: Deployment
metadata: 
  name: "{{meta.namespace}}-{{meta.name}}"
  namespace: "{{meta.namespace}}"
  labels:
    app: mariadb-monitor
spec: 
  replicas: {{size}}
  selector: 
    matchLabels: 
      app: mariadb-monitor
  template: 
    metadata: 
      labels: 
        app: mariadb-monitor
    spec: 
      containers: 
        - env: 
            - name: DATA_SOURCE_NAME
              valueFrom:
                secretKeyRef:
                  name: '{{meta.namespace}}-mariadb-secret'
                  key: data_source_name            
          image: "{{prometheus_mysqlexportor_image}}"
          imagePullPolicy: IfNotPresent
          name: monitor
          ports: 
            - name: monitor-port
              containerPort: 9104