---
apiVersion: batch/v1
kind: Job
metadata:
 name: {{meta.namespace}}-{{meta.name}}-{{mysql_database_to_restore.split('_') | join('-')}}
 namespace: "{{meta.namespace}}"
spec:
  template:
    spec:
      containers:
      - name: database-restore
        image: "{{db_image}}"
        args:
          - /bin/sh
          - -c
          - mysql -h {{ip}} -P 3306 -u {{mysql_user}} -p{{mysql_user_password}} {{mysql_database_to_restore}} < /opt/{{mysql_restore_sql_file}}
        volumeMounts:
        - mountPath: /opt
          name: mariadb-datarestore
      restartPolicy: Never
      volumes:
        - name: mariadb-datarestore
          persistentVolumeClaim:
            claimName: "{{pvc_name}}"
  backoffLimit: 1