---
apiVersion: batch/v1
kind: Job
metadata:
 name: mariadb-restore
 namespace: "{{meta.namespace}}"
spec:
  template:
    spec:
      containers:
      - name: mariadb-restore-{{meta.namespace}}
        image: "{{db_image}}"
        args:
          - /bin/sh
          - -c
          - mysql -h mariadb-service.{{meta.namespace}} -P 3306 -u {{mysql_user}} -p{{mysql_user_password}} {{mysql_database_to_restore}} < /opt/{{mysql_restore_sql_file}}
        volumeMounts:
        - mountPath: /opt
          name: mariadb-datarestore
      restartPolicy: Never
      volumes:
        - name: mariadb-datarestore
          persistentVolumeClaim:
            claimName: mariadb-backup-persistent-volume-claim-{{meta.namespace}}
  backoffLimit: 1